@media (max-width: 500px) {
    .targetCurrency__labelFlex {
        display: flex;
        align-content: center;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .targetCurrency__margin {
        margin: 5px;
    }
}

.targetCurrency__label {
    max-width: 250px;
    display: inline-block;
    margin-right: 5px;
    max-width: 70%;
    text-align: center;
    border: 1px rgb(0, 0, 0) solid;
    border-radius: 20px;
}

.targetCurrency__label--name {
    border: none;
    font-size: 1.1em;
    line-height: 1.2;
}

.targetCurrency__margin {
    margin: 10px;
}