@media (max-width: 500px) {
    .section__labelFlex {
        display: flex;
        align-content: center;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 5px;
    }
}